DateTime==4.4
debugpy==1.6.0
decorator==5.1.1
gitdb==4.0.9
GitPython==3.1.27
ipykernel==6.14.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
pickleshare==0.7.5
Pillow==9.1.0
python-dateutil==2.8.2
scikit-learn==1.1.1
streamlit==1.10.0
streamlit-option-menu==0.3.2
toml==0.10.2
